# Table of Contents
 <p>

<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"></ul></div>

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = pd.read_csv('test_data.txt')

In [3]:
data.head()

   a    b  c    d
0  1  2.0  3  4.0
1  5  6.0  7  8.0
2  1  3.0  5  7.0
3  2  4.0  6  9.0
4  1  NaN  9  NaN

View NA

In [4]:
np.sum(data.isnull(), axis = 0)

a    0
b    1
c    0
d    1
dtype: int64

Fill NA

In [5]:
data['b']=data['b'].fillna(data['b'].mean())
data['d']=data['d'].fillna(data['d'].mean())

In [6]:
data.head()

   a    b  c    d
0  1  2.0  3  4.0
1  5  6.0  7  8.0
2  1  3.0  5  7.0
3  2  4.0  6  9.0
4  1  4.6  9  7.2

Apply to column

In [7]:
data['XX']=data['a'].apply(lambda x: x*x)
data.head()

   a    b  c    d  XX
0  1  2.0  3  4.0   1
1  5  6.0  7  8.0  25
2  1  3.0  5  7.0   1
3  2  4.0  6  9.0   4
4  1  4.6  9  7.2   1

In [8]:
data.groupby('a').aggregate(lambda x: np.mean(x['XX']))

      b     c     d    XX
a
1   1.0   1.0   1.0   1.0
2   4.0   4.0   4.0   4.0
5  25.0  25.0  25.0  25.0
8  64.0  64.0  64.0  64.0

In [9]:
data[data.a>1]

   a    b  c    d  XX
1  5  6.0  7  8.0  25
3  2  4.0  6  9.0   4
5  8  8.0  8  8.0  64

In [10]:
data.loc[data.a>1,:]

   a    b  c    d  XX
1  5  6.0  7  8.0  25
3  2  4.0  6  9.0   4
5  8  8.0  8  8.0  64

In [11]:
data.query('a>1')

   a    b  c    d  XX
1  5  6.0  7  8.0  25
3  2  4.0  6  9.0   4
5  8  8.0  8  8.0  64

In [26]:
data2 = data[['a','XX']].copy()
data2['e'] = data2.a
del data2['a']
data2=data2[data2.e>1]
data2

   XX  e
1  25  5
3   4  2
5  64  8

In [27]:
data.merge(data2, how = 'inner', left_on = 'a', right_on='e')

   a    b  c    d  XX_x  XX_y  e
0  5  6.0  7  8.0    25    25  5
1  2  4.0  6  9.0     4     4  2
2  8  8.0  8  8.0    64    64  8

In [28]:
pd.merge(data, data2, how = 'inner', left_on = 'a', right_on='e')

   a    b  c    d  XX_x  XX_y  e
0  5  6.0  7  8.0    25    25  5
1  2  4.0  6  9.0     4     4  2
2  8  8.0  8  8.0    64    64  8